.container-fluid{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #6c757d;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 30vw;
    height: 80vh;
    background-color: rgb(245, 245, 245);
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 2%;
    box-shadow: -16px 16px black;
}
body{
    margin: 0;
}


form #cep{
    width: auto;
}

h1{
    text-align: center;
}